

<nav><p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Users Details</span>
    <span class="example-spacer"></span>
  <!-- calling the componets using routerlink -->
    &nbsp; <button routerLink="create"class="btn btn-success">Create</button>&nbsp;
    <button routerLink="read" class="btn btn-primary">Read</button>
    
   
  </mat-toolbar>
</p></nav>
<router-outlet></router-outlet>
